# IMPORTS

In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
import sqlite3
import pickle
import os
import s3fs

import pandas                as pd
import numpy                 as np
import umap.umap_            as umap
import seaborn               as sns
import matplotlib.pyplot     as plt

from sklearn.ensemble        import RandomForestRegressor
from sklearn.metrics         import silhouette_score, silhouette_samples
from sklearn.mixture         import GaussianMixture

from sqlalchemy import create_engine

# CARREGANDO OS DADOS

In [3]:
# carregando o csv e determinando o encoding
# path_s3 = 's3://cluster-vips-dataset/'
# df = pd.read_csv(path_s3 + 'Ecommerce.csv', encoding='cp437')

path_s3_url = 'https://cluster-vips-dataset.s3.us-east-2.amazonaws.com/'
df = pd.read_csv(path_s3_url + 'Ecommerce.csv', encoding='cp437')

# removendo a coluna vazia
df = df.drop(columns=['Unnamed: 8'], axis=1)

df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,29-Nov-16,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,29-Nov-16,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,29-Nov-16,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,29-Nov-16,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,29-Nov-16,3.39,17850.0,United Kingdom

## CARREGANDO AS CHAVES S3

In [4]:
# carregando chaves S3
AWS_ACCESS_KEY_ID = os.environ.get('AWS_ACCESS_KEY_ID_VIPS')
AWS_SECRET_ACCESS_KEY = os.environ.get('AWS_SECRET_ACCESS_KEY_VIPS')

## RENOMEAR AS COLUNAS

In [5]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [6]:
cols_new = ['invoice_no', 'stock_code', 'description', 'quantity', 'invoice_date',
       'unit_price', 'customer_id', 'country']
df.columns = cols_new

## DIMENSÃO DO DATASET

In [7]:
print(f'O dataset possui {df.shape[0]} linhas e {df.shape[1]} colunas')

O dataset possui 541909 linhas e 8 colunas

## RESUMO DOS DADOS

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   invoice_no    541909 non-null  object
 1   stock_code    541909 non-null  object
 2   description   540455 non-null  object
 3   quantity      541909 non-null  int64
 4   invoice_date  541909 non-null  object
 5   unit_price    541909 non-null  float64
 6   customer_id   406829 non-null  float64
 7   country       541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

## VERIFICAR DADOS NA

In [9]:
# soma dos dados faltantes
df.isnull().sum()

invoice_no           0
stock_code           0
description       1454
quantity             0
invoice_date         0
unit_price           0
customer_id     135080
country              0
dtype: int64

In [10]:
# porcentagem dos dados faltantes
porcentagem_faltantes = (df.isnull().sum().sort_values(ascending=False) / len(df)) * 100

# inserir o sinal de % nos resultados
porcentagem_faltantes_com_percentual = porcentagem_faltantes.map('{:.2f}%'.format)

# exibir os resultados
porcentagem_faltantes_com_percentual

customer_id     24.93%
description      0.27%
invoice_no       0.00%
stock_code       0.00%
quantity         0.00%
invoice_date     0.00%
unit_price       0.00%
country          0.00%
dtype: object

## ANÁLISE DADOS NA

In [11]:
# criando dataframes para comparação de customer_id
df_faltantes = df.loc[df['customer_id'].isna(), :]
df_nao_faltantes = df.loc[~df['customer_id'].isna(), :]

In [12]:
print(f'Quantidade de customer_id faltantes: {df_faltantes.shape[0]}')
print(f'Quantidade de customer_id não faltantes: {df_nao_faltantes.shape[0]}')

Quantidade de customer_id faltantes: 135080
Quantidade de customer_id não faltantes: 406829

In [13]:
# criando lista com o invoice_no dos dados faltantes
invoice_no_faltantes = df_faltantes['invoice_no'].drop_duplicates().tolist()

# verificando se há invoice_no correspondentes aos dados sem customer_id
df_nao_faltantes['invoice_no'].isin(invoice_no_faltantes).value_counts()

invoice_no
False    406829
Name: count, dtype: int64

In [14]:
df = df.dropna()

In [15]:
df.isna().sum()

invoice_no      0
stock_code      0
description     0
quantity        0
invoice_date    0
unit_price      0
customer_id     0
country         0
dtype: int64

## MODIFICAR O TIPO DOS DADOS

In [16]:
# invoice_date de object para datetime
df['invoice_date'] = pd.to_datetime(df['invoice_date'], format='%d-%b-%y')

# customer_id de float64 para int64
df['customer_id'] = df['customer_id'].astype(int)

In [17]:
df.dtypes

invoice_no              object
stock_code              object
description             object
quantity                 int64
invoice_date    datetime64[ns]
unit_price             float64
customer_id              int64
country                 object
dtype: object

# FILTRO DE VARIÁVEIS

In [18]:
df1 = df.copy()

In [19]:
# feature numérica unit_price com valores acima de 0.04
df1 = df1.loc[df1['unit_price'] >= 0.04, :]

# feature categórica stock_code remover valores
df1 = df1[~df1['stock_code'].isin(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 
                                   'DCGSSBOY', 'DCGSSGIRL', 'PADS', 'B', 'CRUK'])]

# feature categórica description remover completamente
df1 = df1.drop(columns='description', axis=1)

# feature categórica country remover não especificados e não países
df1 = df1[~df1['country'].isin(['European Community', 'Unspecified'])]

# usuário com resultados muito divergentes
df1 = df1[~df1['customer_id'].isin([16446])]

# feature numérica quantity dividida em 2 novos dataframes
df1_devolucoes = df1.loc[df1['quantity'] < 0, :]
df1_vendas = df1.loc[df1['quantity'] > 0, :]

# FEATURE ENGINEERING

In [20]:
df2 = df1.copy()

In [21]:
# tabela referência
df_ref = df2.drop(['invoice_no', 'stock_code', 'quantity',  
                   'invoice_date', 'unit_price', 'country'], axis=1).drop_duplicates(ignore_index=True)

## FATURAMENTO

In [22]:
# gross_revenue -> quantity * unit_price = gross_revenue (faturamento, receita_bruta)
df1_vendas.loc[:, 'gross_revenue'] = df1_vendas.loc[:, 'quantity'] * df1_vendas.loc[:, 'unit_price']

In [23]:
# valor monetário
df_vm = df1_vendas.loc[:, ['customer_id', 'gross_revenue']].groupby('customer_id').sum().reset_index()
df_ref = pd.merge(df_ref, df_vm, on='customer_id', how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    27
dtype: int64

## RECÊNCIA

In [24]:
# recência - diferença entre a data máxima do dataset e a data da última compra do cliente
df_recencia = df1_vendas[['customer_id', 'invoice_date']].groupby('customer_id').max().reset_index()
df_recencia['recency_days'] = (df2['invoice_date'].max() - df_recencia['invoice_date']).dt.days
df_recencia = df_recencia[['customer_id', 'recency_days']].copy()
df_ref = pd.merge(df_ref, df_recencia, on='customer_id', how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    27
recency_days     27
dtype: int64

## QUANTIDADE DE COMPRAS

In [25]:
# quantidade de compra - quantidade de vezes que o cliente realizou uma compra num período de tempo determinado
df_qtde = df1_vendas.loc[:, ['customer_id', 'invoice_no']].drop_duplicates().groupby('customer_id').count().reset_index().rename(columns={'invoice_no':'total_orders'})
df_ref = pd.merge(df_ref, df_qtde, on='customer_id', how='left')
df_ref.isna().sum()

customer_id       0
gross_revenue    27
recency_days     27
total_orders     27
dtype: int64

## FREQUÊNCIA DE COMPRA

In [26]:
df_frequencia_aux = (df1_vendas[['customer_id', 'invoice_no', 'invoice_date']].drop_duplicates()
                                                                       .groupby('customer_id')
                                                                       .agg(max_ = ('invoice_date', 'max'),
                                                                            min_ = ('invoice_date', 'min'),
                                                                            days_= ('invoice_date', lambda x: ((x.max() - x.min()).days)+1),
                                                                            buy_ = ('invoice_no', 'count'))).reset_index()

In [27]:
df_frequencia_aux = (df1_vendas[['customer_id', 'invoice_no', 'invoice_date']].drop_duplicates()
                                                                       .groupby('customer_id')
                                                                       .agg(max_ = ('invoice_date', 'max'),
                                                                            min_ = ('invoice_date', 'min'),
                                                                            days_= ('invoice_date', lambda x: ((x.max() - x.min()).days)+1),
                                                                            buy_ = ('invoice_no', 'count'))).reset_index()

# frequencia
df_frequencia_aux['frequency'] = df_frequencia_aux[['buy_', 'days_']].apply(lambda x: x['buy_']/x['days_'] if x['days_'] != 0 else 0, axis=1)

# merge 
df_ref = pd.merge(df_ref, df_frequencia_aux[['customer_id', 'frequency']], on='customer_id', how='left')

In [28]:
df_ref.isna().sum()

customer_id       0
gross_revenue    27
recency_days     27
total_orders     27
frequency        27
dtype: int64

## QUANTIDADE DE DEVOLUÇÕES

In [29]:
df_devolucoes = df1_devolucoes[['customer_id', 'quantity']].groupby('customer_id').sum().reset_index().rename(columns={'quantity':'qty_returns'})
df_devolucoes['qty_returns'] = df_devolucoes['qty_returns'] * -1

In [30]:
df_ref = pd.merge(df_ref, df_devolucoes, how='left', on='customer_id')
df_ref.loc[df_ref['qty_returns'].isna(), 'qty_returns'] = 0

df_ref.isna().sum()

customer_id       0
gross_revenue    27
recency_days     27
total_orders     27
frequency        27
qty_returns       0
dtype: int64

In [31]:
df_ref = df_ref.loc[df_ref['total_orders'] > 1, :]

# EDA

In [32]:
df3 = df_ref.dropna()
df3.isna().sum()

customer_id      0
gross_revenue    0
recency_days     0
total_orders     0
frequency        0
qty_returns      0
dtype: int64

## ESTUDO DO ESPAÇO DE DADOS

In [33]:
# dataset com as features selecionadas
features_selected = ['customer_id', 'gross_revenue', 'recency_days', 'total_orders', 'frequency', 'qty_returns']
df_data_space = df3[features_selected].drop(columns=['customer_id'], axis=1).copy()

### TREE-BASED EMBEDDING

In [36]:
# datasets de treino
X = df_data_space.drop(columns=['gross_revenue'])
y = df_data_space['gross_revenue']

# modelo
rf_model = pickle.load(fs.open('s3://cluster-vips-dataset/rf_model.pkl', 'rb'))

# dataframe com as folhas
df_leaf = pd.DataFrame(rf_model.apply(X))

In [38]:
# reduce dimensionality
reducer = pickle.load(fs.open('s3://cluster-vips-dataset/umap_reducer.pkl', 'rb'))
embedding = reducer.transform(df_leaf)

# embedding
df_tree = pd.DataFrame()
df_tree['embedding_x'] = embedding[:, 0]
df_tree['embedding_y'] = embedding[:, 1]

# HYPERPARAMETER FINE TUNING

In [40]:
X = df_tree.copy()

In [41]:
clusters = np.arange(2, 26)

# MODEL TRAINING

## MODEL DEFINITION

In [39]:
# model definition
k = 10

# model loading
gmm_model = pickle.load(fs.open('s3://cluster-vips-dataset/gmm_model.pkl', 'rb'))

# clustering
labels = gmm_model.predict(X)

## CLUSTER VALIDATION

In [43]:
# SS (Silhouette Score)
print(f'SS Results: {silhouette_score(X, labels, metric="euclidean")}')

# ANALYSIS

## CLUSTER PROFILE

In [ ]:
# number of customer
df_cluster_profile = df_cluster[['customer_id', 'cluster']].groupby('cluster').count().reset_index()
df_cluster_profile['perc_customer'] = 100*(df_cluster_profile['customer_id']/df_cluster_profile['customer_id'].sum())

# avg gross revenue
df_avg_gross_revenue = df_cluster[['gross_revenue', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster_profile = pd.merge(df_cluster_profile, df_avg_gross_revenue, how='inner', on='cluster')

# avg recency days
df_avg_recency_days = df_cluster[['recency_days', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster_profile = pd.merge(df_cluster_profile, df_avg_recency_days, how='inner', on='cluster')

# avg orders
df_avg_orders = df_cluster[['total_orders', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster_profile = pd.merge(df_cluster_profile, df_avg_orders, how='inner', on='cluster')

# avg frequency
df_avg_frequency = df_cluster[['frequency', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster_profile = pd.merge(df_cluster_profile, df_avg_frequency, how='inner', on='cluster')

# avg quantity of returns
df_avg_qty_returns = df_cluster[['qty_returns', 'cluster']].groupby('cluster').mean().reset_index()
df_cluster_profile = pd.merge(df_cluster_profile, df_avg_qty_returns, how='inner', on='cluster')

In [ ]:
df_cluster_profile.sort_values(by='gross_revenue', ascending=False)

Clusters:
- VIP (Highest Rank)
- Platinum
- Gold
- Silver
- Bronze
- Elite
- Preferred
- Standard
- Basic
- Newcomer (Lowest Rank)

# DEPLOY

In [ ]:
df_cluster.head()

In [ ]:
df_cluster.dtypes

## ENVIANDO AO SQLITE

In [ ]:
df_cluster['recency_days'] = df_cluster['recency_days'].astype(int)
df_cluster['total_orders'] = df_cluster['total_orders'].astype(int)
df_cluster['qty_returns'] = df_cluster['qty_returns'].astype(int)

In [ ]:
# # conectar no database
# #endpoint = 'sqlite:///vip_clients_db.sqlite'
# host ='rds-address'
# port = '5432'
# database = 'postgresql'
# user='user'
# pwd='pwd'

# endpoint='postgresql://user:pwd@rds-address:5432/postgres'

# conn = create_engine(endpoint)

# # # criar tabelas
# # query_create_table_vip = """
# #     CREATE TABLE vips (
# #         customer_id      INTEGER,
# #         gross_revenue    REAL,
# #         recency_days     INTEGER,
# #         total_orders     INTEGER,
# #         frequency        REAL,
# #         qty_returns      INTEGER,
# #         cluster          INTEGER     
# #     )
# # """

# #conn.execute(query_create_table_vip)

In [ ]:
# # consulta a base de dados
# query = """
#     SELECT * FROM vips
# """

# df = pd.read_sql_query(query, conn)

In [ ]:
# enviando os dados do dataframe para o rds da aws
# df_cluster.to_sql('vips', con=conn, if_exists='append', index=False)

# conn.close()